
<div class="footer">
  <div class="container-footer">
    <div class="terms-container">
      <a href="#"><%= t("Conditions") %></a>
      <a href="#"><%= t("Contact") %></a>
      <a href="#"><%= t("A propos") %></a>
    </div>
    <div class="icon-container">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-whatsapp-square"></i>
      <i class="fab fa-instagram-square"></i>
    </div>
  </div>
</div>
