<div class="navbar navbar-expand-sm navbar-light navbar-canari-reader" style="width: 100%; opacity: 1; top: 0px;">
  <%= link_to root_path, class: "navbar-brand canari-color" do %>
    <%= image_tag("logo.svg") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>

</div>
