<div class="container">
  <div class="row d-flex justify-content-center">
    <% @episode.pages.each do |page| %>
      <div class="page col-xl-12 col-lg-12 col-md-12 col-12">
        <img src="http://res.cloudinary.com/dwustkks4/image/upload/<%= page.key %>" alt="" class="w-100">
      </div>
    <% end %>
  </div>
</div>
