.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 50px
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 50px
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 50px
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50 100px;
    justify-items: center;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 50 100px;
    justify-items: center;
  }
}


.card-home {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.card-show-episode {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  display: grid;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.book-details {
  margin: 0;
  margin-top: 150px;
  font-size: 18px;
}

.book-category {
  font-size: 15px;
  color: gold
}

.card-home:hover {
  border: solid;
  border-color: $canari-1;
  transform: scale(1.05);
  filter: brightness(130%);
  overflow: hidden;
}

.card-show-episode:hover {
  border: solid;
  border-color: $canari-1;
  transform: scale(1.05);
  filter: brightness(130%);
  overflow: hidden;
}

.cards a:hover {
    text-decoration: none
  }
