<p id="token-paydunya"><%= @token %></p>
<p id='user-id' class="d-none"> <%= current_user.id %></p>
<p id='user-token' class="d-none"> <%= @authenticity_token %></p>
<p id='user-email' class="d-none"> <%= current_user.email %></p>
<p></p>
<div>
</div>
