<div class="text-center">
  <p><%= t('RechargezVotreCompte') %></p>
  <input type="number" class="input-payment" id="payment-field">
  <a id="payment-trigger" href="#" class="btn-ghost" min="200" ><i class="fas fa-coins"></i></a>
</div>
