<div class="slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @books.each do |book| %>
        <div class="swiper-slide"><%= cl_image_tag book.cover.key, height: 250, width: 200,crop: :fill %></div>
      <% end %>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>

