

.slider {
  display: block;
  img {
    max-width: 100%;
    height: auto;
  }
}

.home-title {
  text-align: center;
  font-size: 28px;
  font-family: bold;
}

.home-title p > i  {
  color: $canari-1
}


